<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text"
             [value]="name"
             (input)="name = $event.target.value"
      />

      <input type="text"
             [ngModel]="name"
             (ngModelChange)="name = $event"
      />

      <input type="text" [(ngModel)]="name">

      <input type="text" bindon-ngModel="name">

      <p>You type: {{ name }}</p>

      <div>
        <input type="text" [(ngModel)]="person.name">
        <input type="text" [(ngModel)]="person.age">

        <p>My name is {{person.name }} and I'm {{person.age}} years old</p>

      </div>

    </div>
  </article>
</section>
